# AWS Redshift - Dashboard
After finishing the ETL process, we are now ready to perform some queries

In [1]:
%load_ext sql
from time import time
import configparser
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
config = configparser.ConfigParser()
config.read('dwh.cfg')

DWH_DB_USER = config.get('CLUSTER','DB_USER')
DWH_DB_PASSWORD = config.get('CLUSTER','DB_PASSWORD')
DWH_ENDPOINT = config.get('CLUSTER','HOST')
DWH_PORT = config.get('CLUSTER','DB_PORT')
DWH_DB = config.get('CLUSTER','DB_NAME')

import os 
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT.replace("'",""), DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://USER:PASSWORD@DB_NAME.CLUSTER_ID.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

## Top 3 played songs

In [9]:
%%time
%%sql 
SELECT t2.title, count(*) 
FROM songplays AS t1 
JOIN songs AS t2 ON t1.song_id = t2.song_id 
GROUP BY t2.title 
ORDER BY count(*) DESC 
LIMIT 3;

 * postgresql://dwhuser:***@dwhcluster.cjhgmfxe879j.us-west-2.redshift.amazonaws.com:5439/dwh
3 rows affected.
CPU times: user 3.77 ms, sys: 521 µs, total: 4.29 ms
Wall time: 132 ms

[("You're The One", 37),
 ("I CAN'T GET STARTED", 9),
 ('Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', 9)]

## Top 3 artists

In [10]:
%%time
%%sql 
SELECT t2.name, count(*) 
FROM songplays AS t1 
JOIN artists AS t2 ON t1.artist_id = t2.artist_id 
GROUP BY t2.name 
ORDER BY count(*) DESC 
LIMIT 3;

 * postgresql://dwhuser:***@dwhcluster.cjhgmfxe879j.us-west-2.redshift.amazonaws.com:5439/dwh
3 rows affected.
CPU times: user 3.74 ms, sys: 513 µs, total: 4.25 ms
Wall time: 131 ms

[('Dwight Yoakam', 37), ('Kid Cudi', 10), ('Lonnie Gordon', 9)]

## Top 3 hours listening activity

In [8]:
%%time
%%sql 
SELECT t2.hour, count(*) 
FROM songplays AS t1 
JOIN time AS t2 ON t1.start_time = t2.start_time 
GROUP BY t2.hour 
ORDER BY count(*) DESC 
LIMIT 3;

 * postgresql://dwhuser:***@dwhcluster.cjhgmfxe879j.us-west-2.redshift.amazonaws.com:5439/dwh
3 rows affected.
CPU times: user 814 µs, sys: 3.57 ms, total: 4.38 ms
Wall time: 132 ms

[(17, 40), (18, 26), (15, 25)]